/* 背景色 */

.timeline {
  position: relative;
  background-color: var(--background-color);
}

/* 标题 */

.timeline>.title-group>.title {
  fill: var(--title-color);
  font-weight: 700;
  font-size: 1.5em;
}

.timeline>.title-group>.subTitle {
  fill: var(--sub-title-color);
  font-weight: 400;
}

/* 坐标轴网格线 */

.timeline .top-axis-group>path, .timeline .top-axis-group>.tick>line {
  stroke: var(--axes-grid-line-color)
}

/* 坐标轴文字 */

.timeline .top-axis-group {
  color: var(--axes-color);
}